{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="color: #212529;">Vehículos</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'index' %}" style="color: #212529;">Inicio</a>
        </li>
        {% if perms.vehiculo.add_vehiculo and user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'vehiculo_add' %}" style="color: #212529;">Agregar</a>
        </li>
        {% endif %}
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'vehiculo_list' %}" style="color: #212529;">Listar</a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="#" style="color: #212529;">Contacto</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        {% if user.is_authenticated %}
        <li class="nav-item">
          <span class="navbar-text" style="color: #212529; margin-right: 15px; font-weight: bold;">Hola, {{ user.username }}</span>
        </li>
        <li class="nav-item">
          <a class="btn btn-light" href="{% url 'logout' %}" style="background-color: #212529; color: white;">Cerrar Sesión</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="btn btn-light" href="{% url 'login' %}" style="background-color: #212529; color: white;">Iniciar Sesión</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-light" href="{% url 'registro' %}" style="background-color: #212529; color: white;">Registro</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>